@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p class="text-center">
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<div class="text-center">
<h3>Felläge</h3>
<p>
    Ett fel har uppstått. Kontakta StoreQR om problemet kvarstår.
</p>
</div>

