@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personlig data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row mb-5">
    <div class="col-md-6">
        <p>Ditt konto innehåller personlig data som du gett oss. På den här sidan kan du ladda ner eller radera din personliga data.</p>
        <p>
            <strong>Genom att radera datan kommer ditt konto att tas bort permanent och det går inte att återställa.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary mt-3" type="submit">Ladda ned</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger mt-3">Radera konto</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
