@model StoreQR.Models.StoringUnit
@{
    ViewData["Title"] = "Lägg till förvaringsutrymme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <a asp-action="Index" class="mb-1 GoingBack"><i class="fa-solid fa-chevron-left"></i> Tillbaka</a>
    <h1 class="mb-3 mt-3">@ViewData["Title"]</h1>
    <p> Lägg till uppgifter om ditt förvaringsutrymme. Stjärnmarkerade fält är obligatoriska. </p>
    <p>Du kan välja att lägga in förvaringsutrymme manuellt eller att skanna förvaringens qr-kod.</p>

    <form asp-action="Create" method="post" enctype="multipart/form-data" class="w-75">
        <div class="form-group">
            <label asp-for="StorageName"></label>
            <input asp-for="StorageName" class="form-control mt-2" />
            <span asp-validation-for="StorageName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="StorageDescription" class="mt-2"></label>
            <input asp-for="StorageDescription" class="form-control" id="StorageDescription" />
        </div>
        <div class="form-group d-flex flex-column">
            <label asp-for="StorageImageFile" class="mt-2"></label>
            <input asp-for="StorageImageFile" type="file" accept="image/*" capture="camera" class="form-control-file" />
        </div>
        <div class="form-group">
            <label asp-for="QRCode" class="mt-2">QR-kod</label>
            <div class="d-flex flex-column">
                <input asp-for="QRCode" name="QRCode" class="form-control" readonly/>       
                <button type="button" class="btn btn-primary ml-2" onclick="scanQRCode()">Skanna QR-kod</button>
                <br />
                <div id="reader" style="display: none;"></div>
                </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Spara</button>
    </form>
</div>

    <script>
        //funktion för att öppna qr-kodläsaren
    function scanQRCode() {
        const html5QrcodeScanner = new Html5QrcodeScanner("reader", { fps: 10, qrbox: 250 });

       //Visa Qr-kodläsaren
        document.getElementById("reader").style.display = "block";

        html5QrcodeScanner.render(onScanSuccess);
    }

    // Callback function for successful scan
    function onScanSuccess(qrCodeData) {
        // Populate the input field with the scanned QR code data
        document.getElementById("QRCode").value = qrCodeData;

        // Hide the reader div
        document.getElementById("reader").style.display = "none";

        // Close the QR code scanner
        html5QrcodeScanner.stop();
    }
    </script>