@model List<StoreQR.Models.StoringUnit>
@{
    ViewData["Title"] = "Förvaringsutrymmen";
}

@if (User?.Identity?.IsAuthenticated == true)
{
    <div class="container">
        <div class="d-flex flex-column align-items-center justify-content-center">
            <h2 class="mb-3 mt-3">Mina förvaringsutrymmen</h2>

            <div class="d-flex align-items-center justify-content-center mb-3">
                <a class="btn btn-primary px-3" asp-area="" asp-controller="Storing" asp-action="Create">Lägg till förvaringsutrymme</a>
            </div>

            <div class="d-flex flex-wrap justify-content-around StorageBody">
                @foreach (var item in Model)
                {
                    <div class="card StorageCard m-1 p-0">
                        <div class="d-flex justify-content-center align-items-center">
                            @if (item.StorageImage != null)
                            {
                                <img class="m-3" src="data:image/png;base64,@item.StorageImage" alt="Bild av förvaringsutrymme" />
                            }
                            else
                            {
                                <img class="m-3" src="~/lib/example-pic-storage.jpg" alt="Exempelbild" />
                            }
                        </div>
                        <div class="card-body d-flex flex-column mx-3 p-3 StorageCardBody">
                            <h4 class="card-title text-center mx-3 p-3">@item.StorageName</h4>
                            <p class="card-text mx-3 p-3 text-center">Beskrivning: @item.StorageDescription</p>
                            <a class="btn btn-primary m-3 justify-content-end" asp-area="" asp-controller="Storing" asp-action="Edit" asp-route-StorageId="@item.StorageId">Redigera</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

}
else
{

    <span>Välkommen! Logga in för att få tillgång till StoreQR</span>
}