@{
    ViewData["Title"] = "Startsida";
}


@if (User?.Identity?.IsAuthenticated == true)
{

    <span class="m-5">Välkommen, @User.Identity.Name!</span>

    <div class="text-center d-flex align-items-center justify-content-center flex-column mb-3 WelcomeText">
        <h1 class="display-4 m-3">Välkommen till StoreQR</h1>

        <img class="rounded-circle m-3 w-75 StoreLogo" src="~/lib/StoreQRLogo.png" />

        <h5 class="m-3 text-center">Få översikt över dina förvarade kläder</h5>


    </div>

}
else
{
    <div class="text-center d-flex align-items-center justify-content-center flex-column WelcomeText">
    <h1 class="text-center m-3">Välkommen!</h1>
    <img class="rounded-circle m-3 w-75 StoreLogo" src="~/lib/StoreQRLogo.png" />
    <p class="m-3 text-center">För att få tillgång till StoreQR behöver du registrera dig eller logga in</p>
    <div class="m-1 text-center d-flex align-items-center justify-content-center">
    <a id="headerlink" class="btn btn-primary m-3 text-center" asp-area="Identity" asp-page="/Account/Login">Logga in</a>
    <a id="headerlink" class="btn btn-primary m-3 text-center" asp-area="Identity" asp-page="/Account/Register">Registrera</a>
    </div>
    </div>
    
}



