@{
    ViewData["Title"] = "Startsida";
}


@if (User?.Identity?.IsAuthenticated == true)
{

    <span class="m-5">Välkommen, @User.Identity.Name!</span>

    <div class="text-center d-flex align-items-center justify-content-center flex-column WelcomeText">
        <h1 class="display-4 m-3">Välkommen till StoreQR</h1>

        <img class="rounded-circle m-3 w-75 StoreLogo" src="~/lib/StoreQRLogo.png" />

        <p class="m-3">Hjälp för dig att hålla koll på din förvaring</p>


    </div>

}
else
{
    <h1 class="text-center m-3">Välkommen!</h1>
    <div class="m-1 text-center">
    <a id="headerlink" class="btn btn-primary m-5 text-center" asp-area="Identity" asp-page="/Account/Login">Logga in</a>
    </div>
    <p class="m-1 text-center">för att få tillgång till StoreQR</p>
}



