@model StoreQR.Models.FamilyMember
@{
    ViewData["Title"] = "Familjemedlemmar";
}

<div class="container">
<h1 class="mx-3 mb-3">@ViewData["Title"]</h1>

<h4 class="mx-3 mb-3"> Här kan du lägga till familjemedlemmar</h4>

<p class="mx-3">När du lagt till familjemedlemmar kan du tilldela dessa kläder direkt när du lägger till kläder</p>

    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Spara</button>
</form>

<div id="reader" width="600px"></div>
</div>