@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Bekräftelse återställ lösenord";
}

<h1>@ViewData["Title"]</h1>
<p>
    Tyvärr är inte den här funktionen implementerad i StoreQR än så om du glömt lösenordet behöver du tyvärr skapa ett nytt konto.
</p>
