@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Bekräftelse återställ lösenord";
}

<h1>@ViewData["Title"]</h1>
<p>
    Kontrollera din e-post för att återställa ditt lösenord.
</p>
