@page
@model LockoutModel
@{
    ViewData["Title"] = "Avstängt";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Det här kontot har blivit avstängt, återkom senare eller kontakta oss.</p>
</header>
