@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Bekräfta konto";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
            För tillfället har den här applikationen ingen e-postfunktion för att bekräfta lösenord. Normalt skulle detta mejlas ut. <a id="confirm-link" href="@Model.EmailConfirmationUrl">Klicka här för att bekräfta ditt konto</a>
    // This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
    // Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
</p>
    }
    else
    {
<p>
        Kontrollera din mejl för att bekräfta ditt konto.
</p>
    }
}

