@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Lösenord återställt";
}

<h1>@ViewData["Title"]</h1>
<p>
    Ditt lösenord är återställt. Vänligen <a asp-page="./Login">klicka här för att logga in.</a>.
</p>
