@{
    ViewData["Title"] = "Om";
}

<div class="container m-4">
    <h1 class="m-4 text-center">StoreQR - don't loose your shit!</h1>
    <div class="d-flex flex-column flex-md-row align-items-md-center">
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="p-4 mr-4 d-flex flex-column">
                    <h4 class="mb-3">Om projektet</h4>
                    <p class="lh-lg">
                        StoreQR är framtaget som ett examensarbete inom ramen för utbildningen till Front End Developer vid Medieinstitutet under sex veckor våren 2024.
                        Det är en helhetslösning byggd av Sussie Arnetz Linder med ASP.NET och SQL. Syftet är att underlätta för människor att hålla koll på vad de har i sina garderober och se information om enskilda plagg.
                        Det går även att tilldela plagg till hushållsmedlemmar.
                    </p>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="flex-grow-1 p-4">
                    <h4 class="mb-3">Techstack</h4>
                    <ul class="list-inline mt-3">
                        <li class="list-inline-item mr-3 mb-3">
                            <span><i class="fa-brands fa-css3-alt"></i></span>
                            CSS
                        </li>
                        <li class="list-inline-item mr-3 mb-3 ml-3">
                            <span><i class="fa-brands fa-bootstrap"></i></span>
                            Bootstrap
                        </li>
                        <li class="list-inline-item mr-3 mb-3 ml-3">
                            <span><i class="fa-brands fa-js"></i></span>
                            JavaScript
                        </li>
                        <li class="list-inline-item mr-3 mb-3 ml-3">
                            <span><i class="fa-solid fa-code"></i></span>
                            ASP.NET (MVC)
                        </li>
                        <li class="list-inline-item mr-3 mb-3 ml-3">
                            <span><i class="fa-solid fa-code"></i></span>
                            C#
                        </li>
                        <li class="list-inline-item mr-3 mb-3 ml-3">
                            <span><i class="fa-solid fa-database"></i></span>
                            SQL - Microsoft SQL Server Management
                        </li>
                        <li class="list-inline-item mb-3 ml-3">
                            <span><i class="fa-brands fa-windows"></i></span>
                            Windowsserver
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
ul {
    list-style: none;
    font-size: 1.2rem;
}
</style>