* {
    --FirstColor: #DFD6D1;
    --SecondColor: #A7A098;
    --TextColor: #292622;
    --AccentColor: #CF9291;
    --AccentInputColor: #FDF1F1;
    --SecondAccentColor: #933D3B;
}

body {
    background-color: var(--FirstColor);
    color: var(--TextColor);
    font-family: 'Inknut Antiqua', serif;
}

.header .navbar {
    background-color: var(--AccentColor) !important;
    color: white !important;
    height: 200px;
}

#headerlink {
    color: white !important;
}
/*Lägg till mediaquerys för att göra logo och header större på större skärm*/
.StoreQRLogo {
    max-height: 160px;
}

@media screen and (min-width: 720px) {
    .StoreQRLogo {
        max-height: 220px;
    }
    .header .navbar {
        height: 250px;
    }
}
/*Startsida*/
html {
    font-size: 1rem;
}

.WelcomeText {
    margin-top: 8rem;
}
.StoreLogo {
    max-width: fit-content
}

/*Knappar*/
.btn-primary {
    color: var(--TextColor);
    background-color: var(--AccentColor);
    border-color: transparent;
    border-radius: 5px;
}
.btn-primary:hover {
    color: white;
    background-color: var(--TextColor);
    border-color: transparent;
    border-radius: 5px;
}
.btn-primary:active {
    color: white;
    background-color: var(--SecondColor);
    border-color: transparent;
    border-radius: 5px;
}
    .btn-primary:focus {
        color: white;
        background-color: var(--SecondColor);
        border-color: transparent;
        border-radius: 5px;
        box-shadow: transparent;
    }
.btn-danger {
    background-color: var(--SecondAccentColor);
    border: transparent;
    color: white;
}
.btn-warning {
    background-color: var(--SecondAccentColor);
    color: white;
    border: transparent;
}

    .btn-warning:hover {
        background-color: var(--SecondAccentColor);
        opacity: 0.7;
    }

    .btn-warning:active {
        background-color: var(--SecondAccentColor);
    }

    .btn-warning:focus {
        background-color: var(--SecondAccentColor);
        color: white;
    }
/*Ändra default styling bootstrap*/

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}



/*Navigering styles*/
.nav-link {
    color: var(--TextColor);
}
.nav-link:hover {
    color: black;
}
.nav-link.active {
    background-color: var(--AccentColor) !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: var(--TextColor);
    background-color: var(--FirstColor);
    border-color: var(--SecondColor);
}

.navbar-collapse {
    background-color: var(--TextColor);
    z-index: 10;
    width: 100%;
    border-radius: 5px;

}

#addShow {
    position: absolute;
    right: 10px;
    top: 148px;
    width: 20rem;
    text-align: end;
}

/*Allmän styling*/
.GoingBack:link {
    text-decoration: none;
    color: var(--TextColor);
}
.GoingBack:visited {
    text-decoration: none;
    color: var(--TextColor);
}
.GoingBack:active {
    text-decoration: none;
    color: var(--TextColor);
}
.GoingBack:hover {
    text-decoration: underline;
    color: var(--TextColor);
    opacity: 0.8;
}

.alert-success {
    background-color: var(--FirstColor);
    color: var(--SecondAccentColor);
    border-color: transparent;
}
/*Login*/
#account a {
    color: var(--TextColor);
}
#account a:hover {
    color: black;
}

#Input_RememberMe {
    background-color: var(--TextColor);
    border-color: transparent;
}


/*Paginering styling*/

.page-item.active .page-link {
    color: var(--TextColor);
    background-color: var(--AccentInputColor);
    border-color: var(--AccentColor);
}

.page-link {
    color: var(--TextColor);
}

    .page-link:hover {
        background-color: var(--SecondAccentColor);
        color: white;
    }


/*FamiljemedlemmarStyles*/
.FamilyMemberCard {
    border-radius: 5px;
    background-color: var(--FirstColor);
    color: var(--TextColor);
    font-size: 1rem;
    border: 2px solid var(--TextColor);
    min-width: 10rem;
}



.editFamilyMember {
    border-color: var(--TextColor);
    background-color: var(--SecondColor);
    border-radius: 5px;
    width: 100%;
    max-width: 30rem;
}

/*Kläderstyles*/
.filter-dropdown {
    width: 15.5rem;
}
.addClothesButton {
    background-color: var(--AccentColor);
    color: var(--TextColor);
    border-radius: 5px;
    width: 150px;
    margin-bottom: 2rem;
}

.ClothingCard {
    max-width: 350px;
    height: 500px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--TextColor);
    background-color: var(--SecondColor);
    color: var(--TextColor);
    font-size: 1rem;
    margin: 0.75rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

    .ClothingCard h4 {
        background-color: var(--AccentInputColor);
        border-radius: 5px;
        text-transform: uppercase;
        padding: 1rem;
    }

    .ClothingCard p {
        background-color: var(--AccentInputColor);
        border-radius: 5px;
        font-size: 0.9rem;
        padding: 2px;
    }

    .ClothingCard a {
        border-radius: 5px;
        border: transparent;
        cursor: pointer;
        font-size: 0.9rem;
    }
    .ClothingCard a:hover {
        background-color: var(--TextColor);
        color: white;
        border: transparent;
    }
        .ClothingCard a:active {
            background-color: var(--SecondColor);
            color: white;
            border: transparent;
        }
    .ClothingCard img {
        height: auto;
        max-height: 150px;
        border-radius: 5px;
        filter: drop-shadow(5px 5px 5px #CF9291);
        object-fit: cover;
    }

    .ClothingCardBody {
        display: flex;
        flex-direction: row;
    }

.NameOption {
    font-size: 1rem;
    font-family: 'Inknut Antiqua', serif;
}

.editClothing {
    background-color: var(--SecondColor);
    border-radius: 5px;
}

.deleteClothing {
    max-width: 450px;
    max-height: 750px;
    width: 400px !important;
    border-radius: 5px;
    border: 1px solid var(--TextColor);
    background-color: var(--SecondColor);
    color: var(--TextColor);
    font-size: 1rem;
    margin: 0.75rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

    .deleteClothing img {
        max-height: 250px;
    }

    .deleteClothing form {
        display: flex;
        justify-content: center;
        align-items: center;
    }

.DeleteClothingInfo {
    background-color: var(--AccentInputColor);
    border-radius: 5px;
}

    .DeleteClothingInfo h5 {
        word-wrap: inherit;
        font-size: 1.1rem;
        font-weight: 700;
        text-decoration: underline;
    }


/*Förvaringstyles*/
.addClothesButton {
    background-color: var(--AccentColor);
    color: var(--TextColor);
    border-radius: 5px;
    width: 150px;
}

.StorageBody {
    width: 100%;
}
.StorageCard {
    max-width: 350px;
    max-height: 700px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--TextColor);
    background-color: var(--SecondColor);
    color: var(--TextColor);
    font-size: 1rem;
    margin: 0.75rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

    .StorageCard h4 {
        background-color: var(--AccentInputColor);
        font-size: 1.2rem;
        border-radius: 5px;
        text-transform: uppercase;
        word-wrap:normal;
    }

    .StorageCard p {
        background-color: var(--AccentInputColor);
        border-radius: 5px;
    }

    

        .StorageCard a:hover {
            background-color: var(--TextColor);
            color: white;
            border: transparent;
        }

        .StorageCard a:active {
            background-color: var(--SecondColor);
            color: white;
            border: transparent;
        }

    .StorageCard img {
        max-height: 150px;
        border-radius: 5px;
        filter: drop-shadow(5px 5px  5px #CF9291);
    }

.StorageCardBody {
    display: flex;
    flex-direction: row;
}

.deleteStorage {
    max-width: 450px;
    max-height: 700px;
    width: 350px !important;
    border-radius: 5px;
    border: 1px solid var(--TextColor);
    background-color: var(--SecondColor);
    color: var(--TextColor);
    font-size: 1rem;
    margin: 0.75rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.deleteStorage form {
  display: flex;
  justify-content:center;
  align-items:center;
}

.DeleteStorageInfo{
    background-color: var(--AccentInputColor);
    border-radius: 5px;
}

.DeleteStorageInfo h5 {
    word-wrap:inherit;
    font-size: 1.1rem;
    font-weight: 700;
    text-decoration:underline;
}
/* Footer*/
.StoreQRFooter {
    background-color: VAR(--AccentColor);
    color: white;
    font-size: 1.2rem;
}
.StoreQRFooter  li{
    background-color: VAR(--AccentColor);
    color: white;
}

    .StoreQRFooter p {
        background-color: VAR(--AccentColor);
        color: white;
    }

    .StoreQRFooter a {
        color: var(--TextColor);
    }

.LogoutBtn {
    background-color: var(--AccentColor);
    color: var(--TextColor) !important;
}
.LogoutBtn:hover {
    background-color: var(--SecondColor);
    color: white !important;
}