* {
    --FirstColor: #DFD6D1;
    --SecondColor: #A7A098;
    --TextColor: #292622;
    --AccentColor: #CF9291;
    --AccentInputColor: #FDF1F1;
    --SecondAccentColor: #933D3B;
}

body {
    background-color: var(--FirstColor);
    color: var(--TextColor);
    font-family: 'Inknut Antiqua', serif;
}

.header .navbar {
    background-color: var(--AccentColor) !important;
    color: white !important;
    height: 150px;
}

#headerlink {
    color: white !important;
}

.StoreQRLogo {
    max-height: 130px;
}
html {
    font-size: 1rem;
}

.btn-primary {
    color: var(--TextColor);
    background-color: var(--AccentColor);
    border-color: transparent;
    border-radius: 5px;
}
.btn-primary:hover {
    color: white;
    background-color: var(--TextColor);
    border-color: transparent;
    border-radius: 5px;
}
.btn-primary:active {
    color: white;
    background-color: var(--SecondColor);
    border-color: transparent;
    border-radius: 5px;
}
    .btn-primary:focus {
        color: white;
        background-color: var(--SecondColor);
        border-color: transparent;
        border-radius: 5px;
        box-shadow: transparent;
    }

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn-danger {
    background-color: var(--SecondAccentColor);
    border: transparent;
    color: white;
}

.nav-link {
    color: var(--TextColor);
}
.nav-link:hover {
    color: black;
}
.nav-link.active {
    background-color: var(--AccentColor) !important;
}
/*Login*/
#account a {
    color: var(--TextColor);
}
#account a:hover {
    color: black;
}

#Input_RememberMe {
    background-color: var(--TextColor);
    border-color: transparent;
}

/*Kläderstyles*/
.addClothesButton {
    background-color: var(--AccentColor);
    color: var(--TextColor);
    border-radius: 5px;
    width: 150px;
}

.ClothingCard {
    max-width: 450px;
    border-radius: 5px;
    background-color: var(--SecondColor);
    color: var(--TextColor);
    font-size: 1rem;
}

    .ClothingCard h4 {
        background-color: var(--AccentInputColor);
        border-radius: 5px;
        text-transform: uppercase;
    }

    .ClothingCard p {
        background-color: var(--AccentInputColor);
        border-radius: 5px;
    }

    .ClothingCard a {
        background-color: var(--AccentColor);
        color: var(--TextColor);
        border-radius: 5px;
        border: transparent;
    }
    .ClothingCard a:hover {
        background-color: var(--TextColor);
        color: white;
        border: transparent;
    }
        .ClothingCard a:active {
            background-color: var(--SecondColor);
            color: white;
            border: transparent;
        }
    .ClothingCard img {
        max-height: 300px;
    }

    .ClothingCardBody {
        display: flex;
        flex-direction: row;
    }

/* Footer*/
.StoreQRFooter {
    color: var(--TextColor);
}

.StoreQRFooter a {
    color: var(--TextColor);
}