* {
    --FirstColor: #DFD6D1;
    --SecondColor: #A7A098;
    --TextColor: #292622;
    --AccentColor: #CF9291;
    --AccentInputColor: #FDF1F1;
    --SecondAccentColor: #933D3B;
}

body {
    background-color: var(--FirstColor);
    color: var(--TextColor);
    font-family: 'Inknut Antiqua', serif;
}

.header .navbar {
    background-color: var(--AccentColor) !important;
    color: white !important;
    height: 200px;
}

#headerlink {
    color: white !important;
}
/*Lägg till mediaquerys för att göra logo och header större på större skärm*/
.StoreQRLogo {
    max-height: 160px;
}
html {
    font-size: 1rem;
}

.WelcomeText {
    margin-top: 8rem;
}
/*Knappar*/

.btn-primary {
    color: var(--TextColor);
    background-color: var(--AccentColor);
    border-color: transparent;
    border-radius: 5px;
}
.btn-primary:hover {
    color: white;
    background-color: var(--TextColor);
    border-color: transparent;
    border-radius: 5px;
}
.btn-primary:active {
    color: white;
    background-color: var(--SecondColor);
    border-color: transparent;
    border-radius: 5px;
}
    .btn-primary:focus {
        color: white;
        background-color: var(--SecondColor);
        border-color: transparent;
        border-radius: 5px;
        box-shadow: transparent;
    }

.btn-warning {
    background-color: var(--SecondAccentColor);
    color: white;
    border: transparent;
}

    .btn-warning:hover {
        background-color: var(--SecondAccentColor);
        opacity: 0.7;
    }
/*Default styling bootstrap*/

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn-danger {
    background-color: var(--SecondAccentColor);
    border: transparent;
    color: white;
}

.nav-link {
    color: var(--TextColor);
}
.nav-link:hover {
    color: black;
}
.nav-link.active {
    background-color: var(--AccentColor) !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: var(--TextColor);
    background-color: var(--FirstColor);
    border-color: var(--SecondColor);
}

.navbar-collapse {
    background-color: var(--TextColor);
    z-index: 10;
    width: 100%;
    border-radius: 5px;

}

#addShow {
    position: absolute;
    right: 10px;
    top: 148px;
    width: 20rem;
    text-align: end;
}
/*Login*/
#account a {
    color: var(--TextColor);
}
#account a:hover {
    color: black;
}

#Input_RememberMe {
    background-color: var(--TextColor);
    border-color: transparent;
}

/*FamiljemedlemmarStyles*/
.FamilyMemberCard {
    border-radius: 5px;
    background-color: var(--FirstColor);
    color: var(--TextColor);
    font-size: 1rem;
    border: 2px solid var(--TextColor);
    min-width: 10rem;
}
/*Kläderstyles*/
.filter-dropdown {
    width: 15.5rem;
}
.addClothesButton {
    background-color: var(--AccentColor);
    color: var(--TextColor);
    border-radius: 5px;
    width: 150px;
    margin-bottom: 2rem;
}

.ClothingCard {
    max-width: 350px;
    height: 550px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--TextColor);
    background-color: var(--SecondColor);
    color: var(--TextColor);
    font-size: 1rem;
    margin: 0.75rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

    .ClothingCard h4 {
        background-color: var(--AccentInputColor);
        border-radius: 5px;
        text-transform: uppercase;
        padding: 1rem;
    }

    .ClothingCard p {
        background-color: var(--AccentInputColor);
        border-radius: 5px;
        padding: 1rem;
    }

    .ClothingCard a {
        background-color: var(--AccentColor);
        color: var(--TextColor);
        border-radius: 5px;
        border: transparent;
        cursor: pointer;
    }
    .ClothingCard a:hover {
        background-color: var(--TextColor);
        color: white;
        border: transparent;
    }
        .ClothingCard a:active {
            background-color: var(--SecondColor);
            color: white;
            border: transparent;
        }
    .ClothingCard img {
        height: auto;
        max-height: 200px;
        border-radius: 5px;
        filter: drop-shadow(5px 5px 5px #CF9291);
        object-fit: cover;
    }

    .ClothingCardBody {
        display: flex;
        flex-direction: row;
    }

.NameOption {
    font-size: 1rem;
    font-family: 'Inknut Antiqua', serif;
}

/*Förvaringstyles*/
.addClothesButton {
    background-color: var(--AccentColor);
    color: var(--TextColor);
    border-radius: 5px;
    width: 150px;
}

.StorageBody {
    width: 100%;
}
.StorageCard {
    max-width: 350px;
    max-height: 700px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--TextColor);
    background-color: var(--SecondColor);
    color: var(--TextColor);
    font-size: 1rem;
    margin: 0.75rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

    .StorageCard h4 {
        background-color: var(--AccentInputColor);
        font-size: 1.2rem;
        border-radius: 5px;
        text-transform: uppercase;
        word-wrap:normal;
    }

    .StorageCard p {
        background-color: var(--AccentInputColor);
        border-radius: 5px;
    }

    .StorageCard a {
        background-color: var(--AccentColor);
        color: var(--TextColor);
        border-radius: 5px;
        border: transparent;
    }

        .StorageCard a:hover {
            background-color: var(--TextColor);
            color: white;
            border: transparent;
        }

        .StorageCard a:active {
            background-color: var(--SecondColor);
            color: white;
            border: transparent;
        }

    .StorageCard img {
        max-height: 300px;
        border-radius: 5px;
        filter: drop-shadow(5px 5px  5px #CF9291);
    }

.StorageCardBody {
    display: flex;
    flex-direction: row;
}

/* Footer*/
.StoreQRFooter {
    color: var(--TextColor);
}

.StoreQRFooter a {
    color: var(--TextColor);
}

.LogoutBtn {
    background-color: var(--AccentColor);
    color: var(--TextColor) !important;
}
.LogoutBtn:hover {
    background-color: var(--SecondColor);
    color: white !important;
}