@model StoreQR.Models.ClothingItem
@{
    ViewData["Title"] = "Lägg till klädesplagg";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mb-5">
    <a asp-action="Index" class="mb-1 GoingBack"><i class="fa-solid fa-chevron-left"></i> Tillbaka</a>
    <h1 class="mt-3 mb-3">@ViewData["Title"]</h1>
    <p> Lägg till uppgifter om ditt klädesplagg. Stjärnmarkerade fält är obligatoriska. </p>
    <p>Du kan välja att lägga in förvaringsutrymme manuellt eller att skanna förvaringens qr-kod.</p>

    <form asp-action="Create" method="post" enctype="multipart/form-data" class="w-75">
    <div class="form-group">
        <label asp-for="ClothingName"></label>
            <input asp-for="ClothingName" class="form-control mt-2" id="ClothingName"/>
        <span asp-validation-for="ClothingName" class="text-danger"></span>
    </div>
    <div class="form-group ClothingUser">
        <label asp-for="ClothingUserId" class="control-label mt-2 mb-2">Välj vem plagget tillhör</label>
            <select asp-for="ClothingUserId" class="form-control" asp-items="@ViewBag.FamilyMemberNames">
            <option value="">Ingen vald</option>
        </select>
    </div>
    <div class="form-group">
            <label asp-for="ClothingBrand" class="mt-2"></label>
        <input asp-for="ClothingBrand" class="form-control" id="ClothingBrand"/>
    </div>
    <div class="form-group">
            <label asp-for="ClothingSize" class="mt-2"></label>
        <input asp-for="ClothingSize" class="form-control" itemid="ClothingSize"/>
    </div>
    <div class="form-group">
            <label asp-for="ClothingColor" class="mt-2"></label>
        <input asp-for="ClothingColor" class="form-control" id="ClothingColor" />
    </div>
    <div class="form-group">
            <label asp-for="Season" class="mt-2"></label>
        <input asp-for="Season" class="form-control" id="Season"/>
    </div>
    <div class="form-group">
            <label asp-for="ClothingMaterial" class="mt-2"></label>
        <input asp-for="ClothingMaterial" class="form-control" id="ClothingMaterial"/>
    </div>
    <div class="form-group">
           <label asp-for="TypeOfClothing" class="mt-2"></label>
        <input asp-for="TypeOfClothing" class="form-control" id="TypeOfClothing"/>
    </div>
    <div class="form-group">
        <label class="mt-2">QR-kod</label>
        <div class="d-flex flex-column">
            <button type="button" class="btn btn-primary ml-2" onclick="scanQRCode()">Skanna QR-kod</button>
             <br />
                <div id="reader" style="display: none;"></div>
            </div>
        </div>
    <div class="form-group ClothingUser">
        <label asp-for="StorageId" class="control-label mt-2 mb-2">Välj var plagget förvaras</label>
        <select asp-for="StorageId" class="form-control" asp-items="@ViewBag.storageData">
            <option value="">Ingen vald</option>
        </select>
    </div>
    <div class="form-group d-flex flex-column">
            <label asp-for="ClothingImageFile" class="mt-2"></label>
        <input asp-for="ClothingImageFile" type="file" accept="image/*" capture="camera" class="form-control-file" />
    </div>
    @*     <div id="reader" style="width: 300px; height: 300px;"></div>
        <button type="button" class="btn btn-primary" id="scanButton">Skanna QR-kod</button>
        <input type="hidden" id="qrCodeResult" name="ClothingQRCode" /> *@
    <button type="submit" class="btn btn-primary mt-3">Spara</button>
</form>
</div>

<script>
        function validateForm() {
            // Ta bort mellanslag före och efter samt gör om alla strängar till pascal case
            updateValue("ClothingName");
            updateValue("ClothingBrand");
            updateValue("ClothingSize");
            updateValue("ClothingColor");
            updateValue("Season");
            updateValue("ClothingMaterial");
            updateValue("TypeOfClothing");

            return true; // Allow the form to be submitted
        }

        // Function to update the value of an element identified by ID
        function updateValue(elementId) {
            var element = document.getElementById(elementId);

            // Check if the element exists
            if (element) {
                // Update the value if the element exists
                element.value = toPascalCase(element.value);
            }
        }

        // Function to convert a string to Pascal case
        function toPascalCase(str) {
            return str.trim().replace(/\b\w/g, function (word) {
                return word.toUpperCase();
            });
    };

    const html5QrcodeScanner = new Html5QrcodeScanner("reader", { fps: 10, qrbox: 250 });
        // Funktion för att öppna QR-kodläsaren
        function scanQRCode() {
            

            // Visa QR-kodläsaren
            document.getElementById("reader").style.display = "block";

            html5QrcodeScanner.render(onScanSuccess);
        }

    // Hantera lyckad scanning
    function onScanSuccess(qrCodeData) {
        //Göm läsaren
        document.getElementById("reader").style.display = "none";

        // Stäng läsare
        html5QrcodeScanner.stop();

        //Hämta rätt dropdownelement
        var dropdown = document.getElementById('StorageId');

        //Kolla om den scannade qr-koden existerar i viewbag.storagedata
        if (ViewBag.QRCodes.hasOwnProperty(qrCodeData)) {
            for (var i = 0; i < dropdown.options.length; i++) {
                var option = dropdown.options[i];
                if (option.value === ViewBag.QRCodes[qrCodeData]) {
                    // Update the dropdown selection
                    dropdown.value = option.value;
                    console.log(option.value, "optionvalue");
                    break;
                }
            }
        }
        //Finns inte qr-koden händer ingenting
    }
</script>